body {
    background-image: url(../../Nutricion-en-Diabetes/assets/familiafoto.jpg);
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    color: #F0F0F0;
    border-radius: 15px;
    max-width: 80%;
    width: 100%;
    box-sizing: border-box;
}

.cajas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    max-width: 80%;
    flex-wrap: wrap;
}

.caja {
    background-color: rgba(0, 0, 0, 0.6);
    color: #F0F0F0;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 40%; 
    box-sizing: border-box;
    text-align: center;
}

.caja ul li {
    color: #F0F0F0;
    list-style-type: none;
    padding: 5px 0;
}

.caja ul li a {
    color: #F0F0F0;
    text-decoration: none;
}

.caja ul li a:hover {
    text-decoration: underline;
}


.caja h3 {
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    h1 {
        padding: 8px;
        font-size: 1.2em; 
    }

    .caja{
        width: 100%;
    }
}